@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@foreach(var el in Program.db.News)
{
    <a style="text-align:center;font-size:larger;"><b>@el.Summary</b></a>
    <p style="font-size:small;">
        @el.Short_descrition
    </p>
    <hr style="width:50%;text-align:left;margin-left:0">
}
